@import 'shared/style/variables';
@import 'shared/style/utils/fill';

html, body {
  @include fill;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  user-select: none;
  position: fixed;
  margin: 0;
  color: var(--font-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  text-align: center;
}

app-root {
  @include fill;
}
