<div class="background-container background-container--one"></div>
<div class="background-container background-container--two"></div>
<div class="stripped-background"></div>
<div class="winner-container">
  <app-confetti class="confetti"
                quantity="100"
                size="1"
                speed="1.75">
  </app-confetti>
  <div class="content">
    <div class="cup-icon-container">
      <div class="cup-icon">🏆</div>
    </div>
    <h1 class="title">You Win!</h1>
    <div class="actions">
      <app-button class="quit-button">🐔 Quit</app-button>
      <app-button class="fight-again-button">💪 Fight Again</app-button>
    </div>
  </div>
</div>
